@if(wishlistData.length > 0){

<section class="flex justify-center align-middle my-7">
    <div class="gi-cart-leftside min-[992px]:w-[66.66%] w-full px-[12px] max-[991px]:mt-[30px]">
        <h1 class=" font-semibold text-sky-700 text-2xl mt-5 text-center  mb-2">{{'wishlist.wishlist' |translate}}</h1>
        <h1 class=" font-semibold text-gray-400 text-center mb-10">{{'wishlist.des' |translate}}</h1>
        <!-- cart content Start -->
        <div class="gi-cart-content">
            <div class="gi-cart-inner">
                <div class="flex flex-wrap w-full">
                    <form action="#" class="w-full">
                        <div class="table-content cart-table-content">
                            <table class="w-full bg-[#fff] ">
                                <thead
                                    class="max-[767px]:border-[0] max-[767px]:h-[1px] max-[767px]:m-[-1px] max-[767px]:overflow-hidden max-[767px]:p-[0] max-[767px]:absolute max-[767px]:w-[1px]">
                                    <tr class="bg-[#fff] border-b-[2px] border-solid border-[#eee]">
                                        <th
                                            class="text-[#4b5966] text-[15px] font-bold pt-[15px] pb-[12px] px-[14px] text-left capitalize align-middle whitespace-nowrap leading-[1] tracking-[0]">
                                            {{'products' |translate }}</th>
                                        <th
                                            class="text-[#4b5966] text-[15px] font-bold pt-[15px] pb-[12px] px-[14px] text-left capitalize align-middle whitespace-nowrap leading-[1] tracking-[0]">
                                            {{'price' |translate }}</th>

                                        <th
                                            class="text-[#4b5966] text-[15px] font-bold pt-[15px] pb-[12px] px-[14px] text-left capitalize align-middle whitespace-nowrap leading-[1] tracking-[0]">
                                            {{'action' |translate }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (item of wishlistData; track item._id) {
                                    <tr
                                        class="border-b-[1px] border-solid border-[#eee] max-[767px]:border-[1px] max-[767px]:block max-[767px]:mb-[15px]">

                                        <td data-label="Product"
                                            class="gi-cart-pro-name w-[40%] text-[#4b5966] text-[16px] py-[15px] px-[14px] text-left max-[767px]:w-full max-[767px]:border-b-[1px] max-[767px]:border-solid max-[767px]:border-[#eee] max-[767px]:flex max-[767px]:justify-between max-[767px]:items-center max-[767px]:text-[14px] max-[767px]:py-[8px] max-[767px]:px-[10px]">
                                            <a href="product-left-sidebar.html"
                                                class="text-[#777] font-normal text-[14px] flex leading-[1.5] tracking-[0.6px] items-center">
                                                <img class="gi-cart-pro-img w-[60px] mr-[15px]" [src]="item.imageCover"
                                                    alt="">
                                                {{item.title}}
                                            </a>
                                        </td>
                                        <td data-label="Price"
                                            class="gi-cart-pro-price text-[#4b5966] font-medium text-[15px] py-[15px] px-[14px] text-left max-[767px]:border-b-[1px] max-[767px]:border-solid max-[767px]:border-[#eee] max-[767px]:flex max-[767px]:justify-between max-[767px]:items-center max-[767px]:text-[14px] max-[767px]:py-[8px] max-[767px]:px-[10px]">
                                            <span class="amount tracking-[0.02rem]">{{item.price | currency}}</span>
                                        </td>

                                        <td data-label="Total"
                                            class="gi-cart-pro-subtotal text-[#4b5966] text-[15px] font-medium py-[15px] px-[14px] text-left max-[767px]:border-b-[1px] max-[767px]:border-solid max-[767px]:border-[#eee] max-[767px]:flex max-[767px]:justify-between max-[767px]:items-center max-[767px]:text-[14px] max-[767px]:py-[8px] max-[767px]:px-[10px]">
                                            <a class="text-lg my-[0] mx-auto me-3" title="Add to cart"
                                                (click)="addToCart(item.id)"><i
                                                    class="fa-solid fa-square-plus hover:text-green-600"></i></a>

                                            <a [routerLink]="['/product-details', item.id]"
                                                class="text-lg my-[0] mx-auto me-3" title="View"><i
                                                    class="fa-solid fa-eye  hover:text-blue-600"></i></a>

                                            <a class="text-lg my-[0] mx-auto" title="Delete"
                                                (click)="deleteFromWishlist(item.id)"><i
                                                    class="fa-solid fa-trash-can  hover:text-red-600"></i></a>
                                        </td>
                                    </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                        <div class="flex flex-wrap">
                            <div class="w-full">
                                <div class="gi-cart-update-bottom pt-[30px] flex justify-between">
                                    <a routerLink="/home"
                                        class="text-[#4b5966] inline-block underline text-[15px] leading-[20px] font-medium tracking-[0.8px]">{{'cart.continue_shopping'
                                        |translate}}</a>

                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!--cart content End -->
    </div>
</section>
}@else{
<div class="my-28 flex justify-center  align-middle ">
    <div class="py-4 px-8 mb-4  text-blue-800 rounded-lg  text-center bg-blue-50 dark:bg-gray-800 dark:text-blue-400"
        role="alert">
        <span class="font-medium">{{'wishlist.emptyList' | translate }}</span> {{'wishlist.start-shop' | translate }}
        <div> <a routerLink="/home" class="font-bold underline">{{'wishlist.go-home' | translate }}</a></div>
    </div>
</div>
}