@if(productDetails!= null){
<section class=" bg-gray-50 overflow-hidden">
    <div class="container my-5">
        <div class="grid grid-cols-1 md:grid-cols-12 gap-6">
            <div class="md:col-span-6 lg:col-span-5 ">
                <div class="relative group bg-white">

                    <owl-carousel-o [options]="largeCarouselOptions" #largeCarousel>
                        @for (imag of productDetails.images; track $index) {
                        <ng-template carouselSlide  [id]="imag" >
                            <img [src]="imag" class="h-72 object-contain w-full rounded-lg shadow-lg" alt="Large Image" />
                        </ng-template>
                        }
                    </owl-carousel-o>

                    <!-- Custom Navigation Buttons -->
                    <button type="button" title="Previous" (click)="prevSlide()" class="absolute top-1/2 left-2 -translate-y-1/2 bg-gray-50/50 z-50 p-2 rounded-full shadow-md text-gray-800 hover:bg-gray-100 
                        hover:text-gray-400 transition-all duration-300 opacity-0 group-hover:opacity-100">
                        <i class="fa-solid fa-chevron-left"></i>
                    </button>
                    <button type="button" title="Next" (click)="nextSlide()" class="absolute top-1/2 right-2 -translate-y-1/2 bg-gray-50/50 z-50 p-2 rounded-full shadow-md text-gray-800 hover:bg-gray-100 
                        hover:text-gray-400 transition-all duration-300 opacity-0 group-hover:opacity-100">
                        <i class="fa-solid fa-chevron-right"></i>
                    </button>
                </div>
                <div class="mt-4">
                    <owl-carousel-o [options]="thumbnailOptions" #thumbnailCarousel>
                        @for (img of productDetails.images; track $index)
                        {
                        <ng-template  carouselSlide>
                            <img [src]="img"  [alt]="productDetails.title" title="Prodouct image"
                                class="w-24 rounded-md shadow-md cursor-pointer transition-transform hover:scale-110 border-2 border-transparent"
                                (click)="onThumbnailClick(img)" />
                        </ng-template>
                        }

                    </owl-carousel-o>
                </div>
            </div>

            <div class="md:col-span-6 lg:col-span-7">
                <div class="bg-white p-5">

                    <div class="my-5">
                        <h1 class="text-black font-extrabold text-2xl">{{productDetails.title}}</h1>
                        <div class="ratings-container space-x-1 mt-2">
                            @for (star of getStars(productDetails.ratingsAverage); track $index) {
                            <i class="fa" [class.fa-solid]="star !== 0.5 && star !== 0"
                                [class.fa-star]="star === 1 || star === 0" [class.fa-star-half-stroke]="star === 0.5"
                                [class.fa-regular.fa-star]="star === 0" [class.text-yellow-400]="star !== 0"
                                [class.text-gray-300]="star === 0">
                            </i>
                            }
                        </div>
                        <hr class="short-divider">

                        <h2 class="text-xl font-bold">{{productDetails.price | currency}}</h2>

                        <p class="text-gray-600 mt-1"> {{productDetails.description}}</p>
                        <div class="mt-5">
                            <p class="text-gray-400 mb-1">Brand: <strong class="text-black">{{productDetails.brand.name}}</strong></p>
                            <p class="text-gray-400 mb-1">Category: <strong class="text-black">{{productDetails.category.name}}</strong></p>

                        </div>
                        <hr class="mt-2" />

                        <button class="bg-yellow-500 px-5 py-1 text-white my-5 hover:bg-yellow-400 transition-all duration-750">Add To Cart</button>
                        <hr class="mt-2" />
                        
                        <div class="social-icons flex  align-baseline mb-5">
                            <a href="https://www.facebook.com/share/1A3CAVDU18/?mibextid=wwXIfr"
                                class="social-icon social-facebook icon-facebook" target="_blank" rel="noopener"
                                title="Facebook">
                                <i class="fa-brands fa-facebook-f"></i>
                            </a>
                            <a href="https://www.instagram.com/ayaragab9999?igsh=anlyMnd3ODl4NjF5&utm_source=qr"
                                class="social-icon social-twitter icon-twitter" target="_blank" rel="noopener"
                                title="Instagram">
                                <i class="fa-brands fa-twitter"></i>
                            </a>
                            <a href="https://x.com/ayaragabb?s=21" class="social-icon social-instagram icon-instagram"
                                target="_blank" rel="noopener" title="X">
                                <i class="fa-brands fa-instagram"></i>
                            </a>

                            <a  class="text-sm font-bold mt-5" title="Add to Wishlist"><i class="fa-regular fa-heart "></i><span class="ms-1">Add to
                                Wishlist</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
}