 .payment-icons .payment-icon {
    display: inline-block;
    vertical-align: middle;
    margin: 1px;
    width: 56px;
    height: 32px;
    background-color: #d6d3cc;
    background-size: 80% auto;
    background-repeat: no-repeat;
    background-position: center;
    transition: opacity 0.25s;
    filter: invert(1);
    border-radius: 4px;
}
.payment-icons .payment-icon:hover {
    opacity: 0.7;
}