<footer class="bg-gray-900 text-gray-300 py-10">
    <div class="container mx-auto px-4">
        <!-- Main Footer Content -->
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
            <!-- Logo Section -->
            <div>
                <img src="/images/nexus-market-logo-light.svg" alt="Logo" class="w-100">
            </div>

            <!-- Get In Touch Section -->
            <div class="text-center md:text-left">
                <h3 class="text-xl font-semibold text-white mb-4">{{'footer.getInTouch.title' | translate}}</h3>
                <div class="space-y-3">
                    <div>
                        <p class="text-gray-500 font-medium">{{'footer.getInTouch.addressLabel' | translate}}</p>
                        <p>{{'footer.getInTouch.address' | translate}}</p>
                    </div>
                    <div>
                        <p class="text-gray-500 font-medium">{{'footer.getInTouch.phoneLabel' | translate}}:</p>
                        <p>{{'footer.getInTouch.phone' | translate}}</p>
                    </div>
                    <div>
                        <p class="text-gray-500 font-medium">{{'footer.getInTouch.emailLabel' | translate}}</p>
                        <a href="mailto:ayaragab1699@gmail.com">{{'footer.getInTouch.email' | translate}}</a>
                    </div>
                    <div class="flex space-x-4 mt-4 justify-center md:justify-start">
                        <a href="https://www.facebook.com/share/1A3CAVDU18/?mibextid=wwXIfr" class="p-2" title="Facebook">
                            <i class="fab fa-facebook-f text-white border border-gray-600 hover:text-[#3b5a9a] hover:bg-white transition-colors p-2 rounded-full"></i>
                        </a>
                        <a href="https://www.instagram.com/ayaragab9999?igsh=anlyMnd3ODl4NjF5&utm_source=qr" class="p-2" title="Instagram">
                            <i class="fab fa-twitter text-white border border-gray-600 hover:text-[#1aa9e1] hover:bg-white transition-colors p-2 rounded-full"></i>
                        </a>
                        <a href="https://x.com/ayaragabb?s=21" class="p-2" title="Twitter">
                            <i class="fab fa-linkedin-in text-white border border-gray-600 hover:text-[#7c4a3a] hover:bg-white transition-colors p-2 rounded-full"></i>
                        </a>
                    </div>
                </div>
            </div>

            <!-- Customer Services Section -->
            <div class="text-center md:text-center lg:text-left">
                <h3 class="text-xl font-semibold text-white mb-4">{{'footer.customerServices.title' | translate}}</h3>
                <ul class="space-y-2 ">
                    <li><a href="https://www.google.com" class="hover:text-white transition-colors">{{'footer.customerServices.help' | translate}}</a></li>
                    <li><a href="https://www.google.com" class="hover:text-white transition-colors">{{'footer.customerServices.orderTracking' | translate}}</a></li>
                    <li><a href="https://www.google.com" class="hover:text-white transition-colors">{{'footer.customerServices.shipping' | translate}}</a></li>
                    <li><a href="https://www.google.com" class="hover:text-white transition-colors">{{'footer.customerServices.orderHistory' | translate}}</a></li>
                    <li><a href="https://www.google.com" class="hover:text-white transition-colors">{{'footer.customerServices.login' | translate}}</a></li>
                    <li><a href="https://www.google.com" class="hover:text-white transition-colors">{{'footer.customerServices.aboutUs' | translate}}</a></li>
                </ul>
            </div>

            <!-- Newsletter Section -->
            <div class="text-center md:text-left"> 
                <h3 class="text-xl font-semibold text-white mb-4">{{'footer.subscribeNewsletter.title' | translate}}</h3>
                <p class="mb-4">{{'footer.subscribeNewsletter.description' | translate}}</p>
                <div class="flex">
                    <input type="email" title="Email" [placeholder]="'footer.subscribeNewsletter.emailPlaceholder' | translate"
                        class="flex-1 bg-gray-800 text-white px-4 py-2 rounded-l focus:outline-none focus:ring-2 focus:ring-blue-500">
                    <button class="bg-gray-700 text-white px-4 py-2 rounded-r hover:bg-gray-600 transition-colors">
                        {{'footer.subscribeNewsletter.button' | translate}}
                    </button>
                </div>
            </div>
        </div>

        <!-- Bottom Footer -->
        <div class="mt-8 pt-8 border-t border-gray-800 flex flex-col md:flex-row justify-between items-center">
            <p class="text-sm"> {{'footer.copyright' | translate}}</p>
            <div class="flex space-x-4 mt-4 md:mt-0">
                <div class="footer-right ml-auto mt-1 mt-sm-0">
                    <div class="payment-icons">
                        <span class="payment-icon visa" style="background-image: url(/images/payments/payment-visa.svg)"></span>
                        <span class="payment-icon paypal" style="background-image: url(/images/payments/payment-paypal.svg)"></span>
                        <span class="payment-icon stripe" style="background-image: url(/images/payments/payment-stripe.png)"></span>
                        <span class="payment-icon verisign" style="background-image:  url(/images/payments/payment-verisign.svg)"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>