@tailwind base;
@tailwind components;
@tailwind utilities;


@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';

@import 'ngx-toastr/toastr';

body{
    font-family: "Open Sans", sans-serif;
}
 h1, h2, h3, h4, h5, h6 {
    color: #222529;
    line-height: 1.1;
    font-family: Poppins, sans-serif;
}

.short-divider {
    width: 60px;
    height: 0;
    border-top: 2px solid #e7e7e7;
    margin: 0.5rem 0 1rem;
    text-align: left;
}